section {
	display: flex;
	align-items: center;
	justify-content: center;
    min-height: 80vh;
	width: 100%
	margin: 0;
	background: url('../img/back4.jpeg');
	background-size: cover;
}
.con_reg {
	background: rgba(44,62,80, 0.7);
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.con_reg_header {
	background: rgba(44,62,80, 0.7);
	border-bottom: 1px solid #f0f0f0;
	padding: 20px 40px;
}

.con_reg_header h2 {
	margin: 0;
	margin-left: 40px;
	color: white;
}

.form{
	padding: 30px 40px;
}
.input-field {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.input-field label {
	display: inline-block;
	margin-bottom: 5px;
	color: white;
}

.input-field input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}
.input-field i {
	position: absolute;
	top: 40px;
	right: 10px;
	visibility: hidden;
}

.input-field small {
	visibility: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}
.input-field.success input{
	border-color: #2ecc71;
}
.input-field.error input{
	border-color: #e74c3c;
}
.input-field.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}
.input-field.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
.input-field.error small{
	visibility: visible;
	color: #e74c3c;
}


.form button {
    background: #e8491d;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgrey;
    color: #ffffff;
}

.form p {
	color: white;
}

.form p a {
	color: #ffffff;
	text-decoration: none;
}
.form p a:hover {

  background-color: #e8491d;
}

.form p a:active {

  background-color: #e8491d;
}