body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/* Global */
.container {
	width: 80%;
	margin:auto;
	overflow: hidden;
}
.container2 {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin:0;
	padding: 0;
}
.button_1 {
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}
.button_2 {
	width: 100%;
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}


.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Header */
header {
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;

}

/* Horizontal menu*/
header li {
	flow: left;
	display: inline;
	padding: 0 20px 0 20px;

}
header .account-details {
	
	font-size: 15px;
	text-decoration: none;
	margin-left: 20px;


}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}
 header nav{
 	float: right;
 	margin-top: 10px;
 }
 header .highlight, header .current a{
 	color: #e8491d;
 	font-weight: bold;
 }
 header a:hover{
 	color: #cccccc;
 	font-weight: bold;
 }

 /*Showcase*/
 #showcase{

 /*	min-height: 400px;
    background: url('../img/back1.jpeg') no-repeat center center fixed;
 	background-size: 100% 100%; 
 	text-align: center;
 	color: #ffffff;*/
 	width: 100%;
 	height: 100%;
	margin:0;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	overflow: hidden;
 	
 }
#showcase2 {
	 min-height: 400px;
    background: url('../img/about.jpg') no-repeat center center fixed;
 	background-size: 100% 100%; 
 	text-align: center;
 	color: #ffffff;
}

 #showcase2 h1{
 	margin-top: 100px;
 	font-size: 55px;
 	margin-bottom: 10px;
 }

 #showcase2 p{
 	font-size: 20px;
 }
 
 #showcase3{
    min-height: 600px;
    background: url('../img/contact.jpg') no-repeat center center fixed;
 	background-size: 100% 100%; 
 	text-align: center;
 	color: #ffffff;
 }
 #showcase3 h1{
 	margin-top: 10px;
 	font-size: 20px;
 	margin-bottom: 10px;
 }
 #showcase3 p{
 	font-size: 20px;
 }

.slider{
	width: 100%;
	height: 100%;
	border-radius: 0px;
	overflow: hidden;
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
	
}
.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	width: 100%;
	height: 100%;
}


.navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: 400px;
	display: flex;
	justify-content: center;
	padding-left: 330px;
}
.manual-btn{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}
.manual-btn:hover{
	background: #40D3DC;
}
#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}

.navigation-auto{
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 400px;
	padding-left: 330px;
}
.navigation-auto div{
	/*border: 2px solid #40D3DC;
	border-radius: 10px;
	padding: 5px;
	transition: 1s;*/
}
.navigation-auto div:not(:last-child){
	margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #40D3DC;
}

/*Newsletter */

 #newsletter{
 	padding: 15px;
 	color:#ffffff;
 	background: #35424a;
 }

 #newsletter h1 {
 	float:left;
 }

 #newsletter form {
 	float:right;
 	margin-top: 15px;
 }

 #newsletter input[type="email"] {
 	padding: 4px;
 	height: 25px;
 	width: 250px;
 }

/*Searchbar*/
#searchBar {
	margin-bottom: 10px;
	padding: 4px;
 	height: 25px;
 	width: 250px;
 	border-radius: 3px;
 	font-size: 12px;
}
 /* Boxes */
 #boxes {
 	margin-top: 20px;
 }
 #boxes .box{
 	float: left;
 	text-align: center;
 	width: 30%;
 	padding: 10px;
 }
 #boxes .box img{
 	width: 90px;
 	height: 120px;
 }
/*Sidebar*/
aside#sidebar {
	float: right;
	width: 30%;
	margin-top: 10px;
}
/*Main-col*/
article#main-col {
	float: left;
	width: 65%;
}
article#main-col2 {
	width: 100%;
}

 footer {
 	padding: 20px;
 	margin-top: auto;
 	color: #ffffff;
 	background-color: #35424a;
 	text-align: center;
 }
/*
.slider{
	
	min-height: 400px;
	background: url('../img/back1.jpeg') no-repeat center center fixed;
	margin: 100px auto;
 	background-size: 100% 100%; 
 	animation: slide 20s infinite;
}

@keyframes slide{
	100%{
		background: url(https://nhlearningsolutions.com/Portals/0/EasyDNNnews/57/img-7-Program-Languages-for-Begininning-Developers-525x275.png) no-repeat center center fixed;
	}
	100%{
		background: url(https://i.kinja-img.com/gawker-media/image/upload/c_fill,f_auto,fl_progressive,g_center,h_675,pg_1,q_80,w_1200/nekomjz363tteefbmok8.jpg) no-repeat center center fixed;
	}
	100%{
		background: url('../img/back1.jpeg') no-repeat center center fixed;
	}
	100%{
		background: url(https://nhlearningsolutions.com/Portals/0/EasyDNNnews/57/img-7-Program-Languages-for-Begininning-Developers-525x275.png) no-repeat center center fixed;
	}
}
*/

/* Services*/
ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}
ul#services h2{
	color: #e8491d;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
	width: 90%;
	padding: 5px;
}

/*meida queries*/
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}
	header{
		padding-bottom: 20px;
	}
	#showcase h1{
		margin-top: 40px;
	}

	#newsletter button, .quote button {
		display: block;
		width: 100%;
	}

	#newsletter form input[type="email"], .quote input, .quote textarea{
		width: 100%;
		margin-bottom: 5px;
	}

}
/*Event*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}